<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find ets_vii)/urdf/ets_vii.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ets_vii)/rviz/config.rviz"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    
</launch>