<launch>
<arg name="name" value="orbit_IIS" />
<group ns="$(arg name)">
  <rosparam command="load" file="$(find orbit_publisher_pkg)/config/dynamic_orbit.yaml" />
  <!-- <node name="orbit" pkg="orbit_publisher_pkg" type="orbit_publisher_pkg_node" launch-prefix="xterm -e gdb -(to delete)-args"/> -->
  <node name="orbit" pkg="orbit_publisher_pkg" type="orbit_publisher_pkg_node" />
</group>
</launch>